html,body,div,span,
h1,h2,h3,h4,h5,h6,
p,blockquote,q,em,img,small,strong,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0;outline:0;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
:focus{outline:0}
input,textarea{margin:0;outline:0;}
textarea{overflow:auto; resize:none;}
table{border-collapse:collapse;border-spacing:0}
/* End Reset */

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }


@font-face {
    font-family: 'dotnessmedium';
    src: url('../webfonts/dotness-webfont.eot');
    src: url('../webfonts/dotness-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/dotness-webfont.woff2') format('woff2'),
         url('../webfonts/dotness-webfont.woff') format('woff'),
         url('../webfonts/dotness-webfont.ttf') format('truetype'),
         url('../webfonts/dotness-webfont.svg#dotnessmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Default Font Styles
______________________*/
body, input, select, textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#000;
	line-height:1.3;
}
body{
	background:#0d97d6;
}

/* Headings
______________________*/
h1{
	font-size:30px;
	color:#fff;
	line-height:1.2;
	font-weight:normal;
	margin:0 0 20px;
}
h2{

}
h3{

}
h4{

}


/* Links
______________________*/
img{
	max-width:100%;
	height:auto;
}
a{
	text-decoration:none;
	color:#ff530d;
}
a:hover{
}

/* p, blockquote, address
______________________*/
p{

}

/* Layout 
______________________*/
.content-width{
	width:1200px;
	width:1100px;
	margin:0 auto;
}

body{
	padding-top:280px;
	/*padding-bottom:136px;*/
}
#wrapper{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:9;
}
/*
.wrapper-bot{
	background:#0D97D6;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	z-index:99;
}
*/
body .sidebar{
	position: fixed;
	margin-right: -524px;
    right: 50%;
	z-index:9;
}

/* Header
______________________*/
#header-wrap{
	background:#fff;
}
#header{
	padding:10px 0 5px;
}
#logo{
	float:left;
}
#nav{
	float:right;
	padding:20px 0 0;
}
	#nav li{
		float:left;
		margin-left:50px;
	}
	#nav a{
		font-size:18px;
	}
#menu{
	display:none;
	background:#0D97D6;
	padding:7px 10px;
	width:30px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}	
	#menu span{
		display:block;
		width:100%;
		height:2px;
		background:#fff;
		margin:4px 0;
	}	

/*  Main Area
-------------------------------------- */
#main-wrap{
	background:url(../images/main-top.jpg) center top no-repeat;
	background-size:100% auto;
	padding-top:45px;
}
#main{

}
.contents{
	float:left;
	width:540px;
}
.join-wrap{
	margin:0 0 20px;
}
	.join{
		float:left;
		margin-right:15px;
		background:url(../images/join-bg.png) no-repeat;
		width:268px;
		height:67px;
		line-height:67px;
		text-align:center;
		display:inline-block;
		vertical-align:middle;
		color:#fff;
		font-size:24px;
	}
	.view-section{
		float:left;
		padding:23px 0 0;
		position:relative;
	}
		.view{
			color:#fff;
			font-size:20px;
			display:inline-block;
			background:url(../images/arrow-bot.png) right center no-repeat;
			padding:0 0 0 10px;
			margin-bottom:5px;
		}
		.view.active{
			background:url(../images/arrow-up-active.png) right center no-repeat;
		}
		.view span{
			padding:0 30px 5px 0;
			border-bottom:1px solid #fff;
			display:block;
		}
			.view span span{
				border:none;
				padding:0;
				display:inline-block;
				vertical-align:middle;
			}
		.view img{
			max-width:40px;
			display:inline-block;
			vertical-align:middle;
		}
	.view-section{
	}
		.view-section ul{
			display:none;
			position:absolute;
			left:0;
			top:100%;
			width:100%;
			background:#eceded;
			z-index:1;
			padding-bottom:10px;
			-moz-box-shadow: 5px 5px 0 rgba(0,0,0, 0.4);
			-webkit-box-shadow: 5px 5px 0 rgba(0,0,0, 0.4);
			box-shadow: 5px 5px 0 rgba(0,0,0, 0.4);
		}
		.view-section li{
			padding:0;
			border-bottom:1px solid #e0e1e2;
		}
		.view-section li:last-child{
			border-bottom:none;
		}
		.view-section li a{
			color:#737172;
			font-size:16px;
			display:block;
			padding:2px 5px;
		}
		.view-section li a span,
		.view-section li a img{
			display:inline-block;
			vertical-align:middle;
		}
		.view-section li a img{
			max-width:40px;
		}

.buble-section,
.buble-secndary,
.buble-tertiary{
	position:fixed;
	left:50%;
	margin-left:0;
	top:50px;
	background:url(../images/turn-1.png) no-repeat;
	width:500px;
	height:496px;
	color:#ff530d;
	font-size:22px;
	text-align:center;
	z-index:999;
}
.buble-inner{
	max-width:280px;
}
	.buble-section strong{
		display:block;
		text-transform:uppercase;
		font-weight:600;
		font-size:26px;
		margin:50px 0 10px;
	}
	.buble-section span{
		display:block;
	}
.buble-secndary{
	margin-left:120px;
	margin-left:-500px;
	top:300px;
	font-size:20px;
}
.buble-tertiary{
	margin-left:120px;
	margin-left:-50px;
	top:290px;
	font-size:20px;
}
.buble-intro{
	background:url(../images/turn-0.png) no-repeat;
	width:700px;
	height:694px;
	margin-left:-200px;
}
	.buble-intro .buble-inner{
		padding:55px 0 0 60px;
	}
.turn{
	position:fixed;
	left:50%;
	margin-left:180px;
	bottom:20px;
	z-index:999;
	background:url(../images/next-btn.png) no-repeat;
	width:300px;
	height:77px;
	line-height:65px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	font-size:36px;
	color:#fff;
}
.your-turn{
	font-size:30px;
}
		
		
.gallery-section{
}
.gallery-section ul{
	margin:0 -40px 0 0;
}
	.gallery-section li{
		float:left;
		width:167px;
		margin:0 10px 25px;
	}
	.frame{
		width:149px;
		height:156px;
		padding:7px 11px 10px 7px;
		background:url(../images/frame.png) no-repeat;
		position:relative;
	}
	.frame-inner{
		position:relative;
	}
.frame-shadow{
	background:none;
	padding:0;
	width:157px;
	height:173px;
	-moz-box-shadow: 5px 5px 0 rgba(0,0,0, 0.4);
	-webkit-box-shadow: 5px 5px 0 rgba(0,0,0, 0.4);
	box-shadow: 5px 5px 0 rgba(0,0,0, 0.4);
}
body .frame-shadow .frame-img{
	height:173px;
}
.frame-shadow .frame-inner{
	padding:0;
}
		.overlay{
			display:none;
			position:absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
			width:100%;
			height:100%;
			text-align:center;
			background:rgba(255,83,15, 0.6);
		}
			.overlay img{
				margin-top:50px;
			}
		.frame:hover .overlay{
			display:block;
		}
		.frame .frame-img{
			display:block;
			margin:0 auto;
			width:100%;
			height:156px;
		}
		.comment-frmae{
			position:absolute;
			left:5px;
			top:5px;
			color:#fff;
			font-size:11px;
		}
			.comment-frmae span,
			.comment-frmae img{
				display:inline-block;
				vertical-align:middle;
			}
		.frame-tag{
			position:absolute;
			right:-15px;
			bottom:-15px;
			background:url(../images/tag.png) no-repeat;
			width:99px;
			height:32px;
			line-height:32px;
			font-size:14px;
			text-align:center;
			color:#231f20;
			font-weight:bold;
			display:inline-block;
		}
.gallery-block-left{
	float:left;
	width:167px;
}
	.gallery-block-left .gallery-section li{
		margin-bottom:15px;
	}
.gallery-block-right{
	float:right;
	width:326px;
	margin:15px 0 0;
}
	.gallery-block-right .frame{
		width:302px;
		height:329px;
		padding:7px 22px 10px 7px;
		background:url(../images/frame-lg.png) no-repeat;
	}
	.gallery-block-right .frame .frame-img{
		display:block;
		margin:0 auto;
		width:100%;
		height:304px;
	}
	.arrow-wrap{
		position:absolute;
		right:-24px;
		top:80px;
	}
		.arrow-up{
			display:none;
		}
/* sidebar start  */
.sidebar{
	float:right;
	width:618px;
	background:url(../images/sidebar.png) no-repeat;
	height:802px;
	position:relative;
}
.sidebar{
	background-size:100% auto;
	width:500px;
	height:650px;
}
	.title{
		height:46px;
		padding:10px 25px 0;
		color:#fff;
		font-weight:bold;
		font-size:18px;
	}
		.title img,
		.title span{
			display:inline-block;
			vertical-align:middle;
		}
.sidebar-inner{
	padding:0 20px 15px 22px;
	height:485px;
	overflow-y:auto;
	overflow-x:hidden;
	margin:15px 20px 15px 0;
	position:relative;
}
.message-section{
	color:#6b6b6c;
	font-size:14px;
	margin:0 0 40px;
}
	.msg-date{
		float:left;
		width:85px;
		color:#6b6b6c;
		font-size:16px;
		padding:40px 0 0;
	}
	.msg-info-wrap{
		margin-left:88px;
	}
	.msg-info{
		float:left;
		width:273px;
	}
	.msg-user{
		float:right;
		width:50px;
		box-shadow:0 3px 3px rgba(0,0,0, 0.6);
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
	}
		.msg-user img{
			display:block;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;
		}
	.in-top{
		padding:0 0 5px;
	}
	.like-section{
		float:left;
	}
	.like-section a{
		display:inline-block;
		vertical-align:middle;
		color:#8e9093;
		margin:0 2px;
	}
		.like,
		.dislike{
			background:url(../images/like.png) no-repeat;
			width:16px;
			height:19px;
			display:inline-block;
		}
		.dislike{
			background:url(../images/dislike.png) no-repeat;
		}
	.text-contain{
		background:#fff;
		border:1px solid #a8a9a9;
		padding:10px;
		color:#666666;
		font-size:16px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
	}
	.msg-name{
		float:right;
	}
.message-left .msg-info-wrap{
	margin-right:15px;
}
.message-left .msg-info{
	float:right;
	width:277px;
}
.message-left .msg-user{
	margin-top:15px;
	float:left;
}
	.message-left .like-section{
		float:right;
	}
	.message-left .msg-name{
		float:left;
	}
	
.channel-wrap{
	position:absolute;
	left:25px;
	bottom:70px;
}
	.channel-wrap > a{
		color:#8e9093;
		font-size:16px;
		text-transform:uppercase;
		background:#fff;
		display:inline-block;
		vertical-align:middle;
		padding:5px 30px 5px 15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		border-radius:15px;
	}
	.channel-wrap .img{
		background:none;
		padding:0;
		-moz-border-radius:none;
		-webkit-border-radius:none;
		border-radius:none;
	}
	.channel-field-wrap{
		display:inline-block;
		vertical-align:middle;
		position:relative;
		background:#fff;
		padding:1px 10px 6px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		border-radius:15px;
	}
		.field-channel{
			display:block;
			width:100%;
			color:#8e9093;
			font-size:15px;
			background:none;
			border:none;
			border-bottom:1px solid #969696;
			position:relative;
			z-index:9;
		}
	.channel-field-wrap ul{
		display:none;
		position:absolute;
		left:0;
		top:75%;
		width:100%;
		background:#fff;
		padding-top:5px;
		-moz-border-radius:0 0 15px 15px;
		-webkit-border-radius:0 0 15px 15px;
		border-radius:0 0 15px 15px;
	}
		.channel-field-wrap li{
			border-bottom:1px solid #8e9093;
		}
		.channel-field-wrap a{
			display:block;
			padding:5px 15px;
			color:#8a8a8a;
			font-size:14px;
			text-transform:uppercase;
			font-weight:bold;
		}
		.channel-field-wrap{
		}
.sidebar-bot{
	height:57px;
	padding:1px 65px 0 15px;
	position:relative;
}
	.field-comment{
		height:50px;
		line-height:50px;
		padding:0 0 0 60px;
		font-size:14px;
		width:100%;
		border:none;
		color:#8e9093;
		background:rgba(0,0,0, 0.6);
		background:none;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	.smile{
		position:absolute;
		right:20px;
		top:20px;
		width:25px;
		background:#fff;
		padding-left:10px;
	}
/* sidebar end  */	
.slider-wrap{
	position:relative;
}
	.info-overSlider{
		background:url(../images/ovlery.png) center top no-repeat;
		background-size:100% auto;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		z-index:99;
	}
.slider-wrap .bx-controls{
	display:none;
}
	.slider-wrap .bxslider img{
		display:block;
		width:100%;
	}
.landing-wrap{
	background:#fff url(../images/home-bg.png) no-repeat;
	background-size:cover;
	height:1000px;
}
	.landing-desc{
		text-align:center;
		color:#fff;
		font-size:32px;
		padding:200px 0 150px;
		text-shadow:3px 3px 3px rgba(0,0,0, 0.4);
	}
	.block{
		display:block;
	}
	.btn-section{
		text-align:center;
	}
		.btn-section img{
			max-width:300px;
			margin:0 100px;
		}
.mt-30{
	margin-top:-30px;
}
.something-title{
}
	.something-title h2{
		font-weight:bold;
		font-size:36px;
		color:#58595b;
		margin:0 0 40px;
	}
	.in-sm{
		font-size:18px;
		color:#58595b;
		line-height:1.4;
		padding:0 25px;
	}
.article-gallery{
	padding:25px 0 20px;
}
	.article-gallery li{
		float:left;
		width:25%;
		padding:0 15px 15px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	.channel-lable{
		text-align:center;
		display:block;
		font-size:16px;
		color:#58595b;
	}
	.square{
		display:block;
		width:100%;
		height:110px;
		background:#ed6522;
	}
		.square-2{
			background:#009c4b;
		}
		.square-3{
			background:#214095;
		}
		.square-4{
			background:#7f3f93;
		}
		.square-5{
			background:#ffd917;
		}
		.square-6{
			background:#00a298;
		}
		.square-7{
			background:#e70087;
		}
		.square-8{
			background:#27a5dc;
		}
.join-art{
	font-size:20px;
	color:#58595b;
	text-align:center;
}
.result{
	font-size:24px;
	color:#6ec1e6;
	margin:0 0 20px;
}
		

.title-section{
	text-align:center;
	max-width:640px;
	margin:0 auto;
}
	.title-section h1{
		font-size:22px;
	}
.search-section{
	text-align:center;
	margin:0 0 15px;
}
	.search-section .field{
		background:#fff;
		width:380px;
		padding:5px 30px 5px 20px;
		font-size:22px;
		color:#968589;
		border:none;
		display:inline-block;
		vertical-align:middle;
		-moz-box-shadow:-6px 8px 0 rgba(0,0,0, 0.3);
		-webkit-box-shadow:-6px 8px 0 rgba(0,0,0, 0.3);
		box-shadow:-6px 8px 0 rgba(0,0,0, 0.3);
	}
	.search-section .submit{
		background:url(../images/search.png) no-repeat;
		width:220px;
		height:96px;
		padding:0;
		border:none;
		cursor:pointer;
		display:inline-block;
		vertical-align:middle;
		margin:-20px 0 0 -15px;
	}
.search-wrap{
	text-align:center;
	padding:10px 0;
}
.tags-wrap{
	background:#000;
	position:relative;
	text-align:center;
}
	.strip-black{
		padding:12px 15px 10px;
	}
	.more-tag{
		position:absolute;
		left:15px;
		top:-36px;
		background:url(../images/tag-link.png) no-repeat;
		width:142px;
		height:36px;
		line-height:36px;
		padding:0 15px;
		text-align:left;
		font-size:18px;
		color:#fff;
	}
	.add{
		position:absolute;
		right:15px;
		top:25%;
	}
	.strip-black li{
		display:inline-block;
		vertical-align:middle;
		margin:0 15px;
	}
	.strip-black li a{
		color:#D4FF8B;
		font-size:20px;
		font-family: 'dotnessmedium';
		text-transform:uppercase;
	}
.footer-links{
	padding:0 0 10px;
	text-align:right;
}
	.footer-links li{
		display:inline-block;
		margin-right:15px;
	}
	.footer-links a{
		color:#40C0FF;
		font-size:16px;
	}


.overlay-popup{
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	background:rgba(0,0,0, 0.6);
	z-index:99;
}
.popup-seciton{
	display:none;
	background:url(../images/login-bg.png) no-repeat;
	width:800px;
	height:704px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-350px;
	z-index:99;
}
	.popup-title{
		height:54px;
		color:#fff;
		padding:10px 50px 0;
		font-size:28px;
		position:relative;
		font-weight:bold;
		font-family: 'Montserrat', sans-serif;
	}
		.cancel-logo{
			position:absolute;
			right:20px;
			top:17px;
		}
			.cancel-logo img{
				max-width:20px;
			}
	.social-section{
		text-align:center;
		padding:20px 0 15px;
		border-bottom:4px dashed #9e9e9e;
		margin:0 50px;
	}
		.social-section img{
			max-width:300px;
		}
		.social-section p{
			margin:0 0 15px;
		}
		.facebook,
		.twitter{
			background:url(../images/social-1.png) no-repeat;
			width:275px;
			height:58px;
			line-height:55px;
			padding-right:25px;
			text-align:center;
			color:#fff;
			display:inline-block;
			font-family: 'Montserrat', sans-serif;
			font-weight:bold;
			font-size:28px;
		}
		.twitter{
			background:url(../images/social-2.png) no-repeat;
			height:66px;
		}
.avater-wrap{
	padding:20px 100px 0;
}
	.avater-section{
		float:left;
		width:200px;
		text-align:center;
		color:#9e9e9e;
		font-size:20px;
		margin:25px 0 0;
	}
		.avater-section a{
			color:#9e9e9e;
			text-decoration:underline;
		}
		.avater{
			position:relative;
			overflow:hidden;
			border:3px solid #ff530d;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;
			-moz-box-shadow:0 7px 0 rgba(0,0,0, 0.4);
			-webkit-box-shadow:0 7px 0 rgba(0,0,0, 0.4);
			box-shadow:0 7px 0 rgba(0,0,0, 0.4);
			margin:0 0 10px;
		}
		.rounded{
			width:100%;
			display:block;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;
		}
		.avater:hover a{
			display:block;
		}
			.avater a{
				display:none;
				position:absolute;
				left:0;
				right:0;
				top:0;
				bottom:0;
				width:100%;
				height:100%;
				text-align:center;
				background:rgba(255,83,15, 0.6);
				color:#fff;
				font-size:60px;
			}
			.avater a span{
				margin-top:70px;
			}
	.form-right{
		float:right;
		width:300px;
		padding:20px 0 0;
	}
	.form-contain{
		padding:0 0 15px 40px;
		position:relative;
	}
		.form-contain .field-form{
			border:1px solid #999;
			width:100%;
			padding:10px 35px 10px 10px;
			font-size:16px;
			background:#fff;
			color:#968589;
			-moz-box-shadow:-6px 8px 0 rgba(0, 0, 0, 0.3);
			-webkit-box-shadow:-6px 8px 0 rgba(0, 0, 0, 0.3);
			box-shadow:-6px 8px 0 rgba(0, 0, 0, 0.3);
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
		}
		.form-contain .field-password{
			background:#fff url(../images/icon-3.png) 228px center no-repeat;
			background-size:25px auto;
		}
		.field-icon{
			position:absolute;
			left:0;
			top:10px;
			width:25px;
		}
		.signup{
			font-family: 'Montserrat', sans-serif;
			background:url(../images/signup.png) no-repeat;
			width:200px;
			height:45px;
			line-height:45px;
			text-align:center;
			font-size:20px;
			color:#fff;
			font-weight:bold;
			border:none;
			cursor:pointer;
			padding:0;
		}
.avater-gallery{
	padding:45px 0 20px;
	margin:25px 25px 20px;
	max-height:400px;
	overflow-y:auto;
}
	.avater-gallery li{
		float:left;
		width:25%;
		padding:0 15px 35px;
		min-height:200px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	.avater-gallery li img{
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
	}
.avater-btn{
	text-align:center;
}
	.avater-btn a{
		display:inline-block;
		margin:0 45px;
	}
	.avater-btn img{
		max-width:300px;
	}
	.cancel,
	.ok{
		font-family: 'Montserrat', sans-serif;
		background:url(../images/cancel.png) no-repeat;
		width:300px;
		height:69px;
		line-height:67px;
		text-align:center;
		display:inline-block;
		font-size:29px;
		color:#fff;
		font-weight:bold;
	}
	.ok{
		background:url(../images/ok.png) no-repeat;
	}
/*  Footer change.
-------------------------------------- */
#footer-wrap{
	background:#fff;
	text-align:center;
	padding:15px 20px 5px;
}
	#footer-wrap img{
		max-width:400px;
	}
	.footer-right{
		float:right;
	}
	.footer-left{
		float:left;
	}
.fl{ float:left}
.fr{ float:right}
.cl{ clear:both; font-size:0; height:0; }
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Alignments */
.center { text-align:center }
.right { text-align:right }
.top {vertical-align:top }
.middle { vertical-align:middle }


@media (max-width: 1220px) { 
.content-width{
	width:960px;
}
.contents{
	width:500px;
	width:455px;
}
body .sidebar{
	width:500px;
	margin-right:-532px;
}
	.msg-info{
		width:235px;
	}
	.message-left .msg-info{
		width:218px;
	}
	
.gallery-block-left{
	float:none;
	width:auto;
}
.gallery-block-right{
	float:none;
	margin:0 auto;
}
}
@media (max-width: 980px) {
.content-width{
	width:auto;
}
body{
	padding:0;
}
#header{
	position:relative;
	padding:15px;
}
	#menu{
		display:block;
		position:absolute;
		right:15px;
		top:30px;
	}
	#logo{
		float:none;
	}
	#nav{
		float:none;
	}
	#nav ul{
		display:none;
	}
	#nav li{
		float:none;
		display:block;
		margin:10px 0;
	}
.search-section .field{
	width:250px;
}
.search-section .submit{
	background-size:100% auto;
	width:150px;
	height:72px;
	margin:-10px 0 0 -15px;
}

.wrap{
	padding:0 10px;
}
#wrapper,
.wrapper-bot{
	position:static;
}
.contents{
	float:none;
	width:auto;
}
	.gallery-section ul{
		margin:0;
	}
	.gallery-block-left{
		float:none;
		width:auto;
	}
	.gallery-block-right{
		float:none;
		margin:0 auto;
	}
	.gallery-section{
		text-align:center;
	}
		.gallery-section li{
			float:none;
			display:inline-block;
		}
	.article-gallery li{
		width:50%;
		padding:0 10px 20px;
	}
body .sidebar{
	position:relative;
	right:auto;
	float:none;
	margin:0 auto;
	background-size:400px auto;
	width:400px;
	height:520px;
}
	.channel-wrap{
		bottom:65px;
	}
	.title{
		height:41px;
		padding:4px 25px 0;
	}
	.sidebar-inner{
		height:332px;
	}
		.smile{
			top:64px;
		}
	.msg-date{
		width:66px;
		font-size:14px;
	}
	.msg-info-wrap{
		margin-left:68px;
	}
		.msg-info{
			width:180px;
		}
		.message-left .msg-info{
			width:160px;
		}
	.sidebar-bot{
		height:46px;
		padding:46px 24px 0 49px;
	}
		.field-comment{
			height:32px;
			padding-left:0;
		}
.landing-desc{
	font-size:18px;
	padding:20px 0 10px;
}
	.btn-section img{
		max-width:180px;
		margin:0 10px;
	}
	.landing-desc .block{
		display:inline;
	}
.buble-secndary{
	margin-left:20px;
	top:45%;
}
.buble-tertiary{
	margin-left:-350px;
	top:15%;
}
.turn{
	margin-left:80px;
}
.arrow-right{
	display:none;
}
.arrow-wrap {
    left: 50%;
    margin-left: -15px;
    right: -24px;
    top: -39px;
}
.arrow-up{
	display:block;
}
#footer-wrap img{
	max-width:300px;
}
}
@media (max-width: 338px) {
body{
	overflow-x:hidden;
}
.landing-desc{
	padding:20px 0;
}
.btn-section img{
	max-width:130px;
}
#footer-wrap img{
	max-width:250px;
}
}